<server description="Liberty server">
    <featureManager>
        <feature>jsp-2.3</feature>
        <feature>mpJwt-1.1</feature>
        <feature>transportSecurity-1.0</feature>
        <feature>microProfile-3.2</feature>
        <feature>jaxrs-2.1</feature>
    </featureManager>

    <httpEndpoint host="*" httpPort="${default.http.port}"
        httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>

    <webApplication location="WorkoutServer.war" contextRoot="${app.context.root}"/>

    <!--<keyStore id="defaultKeyStore" password="keysPass" />-->

    <ssl id="sslSettings" trustDefaultCerts="true" keyStoreRef="defaultKeyStore" trustStoreRef="defaultKeyStore" />

    <sslDefault sslRef="sslSettings" />

    <logging traceSpecification="com.ibm.ws.security*=all:com.ibm.ws.webcontainer.security.*=all:io.openliberty.security.*=all"/>

    <!--<mpJwt audiences="ALL_AUDIENCES" groupNameAttribute="groups" id="mympjwt" userNameAttribute="upn" issuer="http://68.172.33.6:9081/" keyName="default" />-->

    <!-- http://localhost:9080 -->
    <cors domain="/"
      allowedOrigins="*"
      allowedMethods="POST, GET, DELETE, PUT"
      allowedHeaders="*"
      maxAge="3600" />

</server>
